.projects {
    margin-top: 10vh;
    background-color: rgba(32, 42, 68, 0.1);
    padding: none;
}

.projects-header {
    text-align: center;
    color: lightyellow;
    font-size: 3rem;
    font-weight: 500;
    padding: 7%;
    background-color: hsla(223, 36%, 10%);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    grid-auto-rows: 350px;
}
