.education-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 10%
}

.education-card h2, .education-card p {
    color: lightyellow;
}

.education-card h2 {
    font-size: 2.5rem;
}

.education-card p {
    font-size: 1.25rem;
}